<h1>데이터 타입과 입출력</h1>

<h3><font color="green">입출력 함수 사용하기</font></h3>

In [ ]:
# 이름과 나이를 입력 받아서, 5년 뒤의 나이를 출력하는 프로그램을 작성하세요

In [1]:
name = input('이름 입력 : ')
age = int(input('현재 나이 입력 : '))

이름 입력 : 김철수
현재 나이 입력 : 23

In [2]:
print('이름 : %s' % (name))
print('5년 후 나이 : %s' % (age + 5))

이름 : 김철수
5년 후 나이 : 28

In [3]:
# 상품의 이름과 가격 및 할인율을 입력 받으세요.
# 이름 및 원가 및 할인 된 금액을 출력해보세요.

In [5]:
product = input('상품 이름 : ')
price = int(input('가격 : '))
discount = int(input('할인율 : '))
message = '{}의 원가는 {}이고, 할인 된 금액은{} 입니다.'
print(message.format(product, price,price-price/discount))

상품 이름 : 안경
가격 : 5000
할인율 : 10
안경의 원가는 5000이고, 할인 된 금액은4500.0 입니다.

In [ ]:
# 정수 1개를 입력 받아서, 3의 배수인지 아닌지를 판단해 보세요.

In [6]:
jumsu = int(input('점수 입력 : '))

점수 입력 : 90

In [13]:
if jumsu %3 == 0 :
    result = '3의 배수'
else :
    result = '3의 배수가 아니다.'

In [14]:
message = '{}는 {}'
print(message.format(jumsu, result))

90는 3의 배수

In [ ]:
# 이름과 급여를 입력 받아서, 연봉이 어느 등급인지 판단해 보세요.
# 연봉 = 급여 * 12
# 연봉이 5000 이상이면 'A', 3000 이상이면 'B', 3000 미만이면 'C'로 분류해 보세요

In [25]:
name = input('이름 입력 : ')
pay = int(input('급여 입력 : '))
salary = pay * 12

이름 입력 : 홍
급여 입력 : 500

In [26]:
if salary >= 5000 :
    grade = 'A'
elif salary >= 3000 :
    grade = 'B'
else : 
    grade = 'C'

In [ ]:
# 콤마 넣기 : print(format(숫자, ',''))

In [33]:
message = '{}의 연봉은 {} 이며, 등급은 {} 입니다.'
print(message.format(name, format(salary,','), grade))

홍의 연봉은 6,000 이며, 등급은 A 입니다.

<h1>집합 자료형</h1>

<h3><font color="green">리스트 실습</font></h3>

In [34]:
# + 기호를 사용하면 list를 합칠 수 있습니다.
# 인덱스 값을 3으로 나누었을 때 나머지가 1인 요소들만 출력해 보세요.
list_a = ['최용대', '신성헌', '이원조']
list_b = ['윤미래', '강나리', '황진숙']

In [36]:
list_a, list_b

(['최용대', '신성헌', '이원조'], ['윤미래', '강나리', '황진숙'])

In [48]:
print(type(list_a))
print(type(list_b))
length = len(list_a + list_b)
print('요소개수 : {}'.format(str(length)))


newlist = list_a + list_b
print(newlist[1::3])

<class 'list'>
<class 'list'>
요소개수 : 6
['신성헌', '강나리']

<h3><font color="green">사전 실습</font></h3>

In [52]:
# 다음 사전에서 '영어'를 제외한 시험 점수들의 총합을 구해 보세요.
dictionary = {'kor':85,'eng':70,'math':50}

In [53]:
total = 0
for key in dictionary.keys():
    if key != 'eng':
        total += dictionary[key]
        
print('총합 : %d' % (total))

총합 : 135

<h3><font color="green">튜폴 실습</font></h3>

In [2]:
# 다음 데이터를 사전으로 변경해 보세요
fruits = [('딸기',10),('토마토',20),('오렌지',30)]

dictionary = {'딸기':10, '토마토':20, '오렌지':30}

dictionary

# 최종 결과 : dictionary = {'딸기' : 10, '토마토' : 20, '오렌지' : 30}

{'딸기': 10, '토마토': 20, '오렌지': 30}

<h3><font color="green">List comprehension</font></h3>

In [2]:
# 75점 이상만 추출해 보세요.
jumsu = [75,80,60,55,90,70]

In [10]:
newjumsu = [val for val in jumsu if val >= 75]
newjumsu

[75, 80, 90]

<h3><font color="green">Dict comprehension</font></h3>

In [11]:
# 다음과 zip() 함수를 이용하여 사전을 만들어 보세요.
students = ['이현철', '김소현', '유순실', '김기현']
jumsu = [80, 60, 70, 90]

In [17]:
mydict01 = {key:value for key, value in zip(students, jumsu) if value >= 75}
mydict01

{'이현철': 80, '김기현': 90}

In [15]:
stu_tuple = [('손흥민',80),('이강인',90),('홀란드',100)]
stu_tuple

[('손흥민', 80), ('이강인', 90), ('홀란드', 100)]

In [16]:
mydict02 = {item[0]:item[1] for item in stu_tuple if item[1] >= 80}
mydict02

{'손흥민': 80, '이강인': 90, '홀란드': 100}

In [18]:
'''   <- 전체 주석처리
문제01
# bottle = 5로 변경하시고,
# 입금한 금액 만큼 한번에 여러 잔을 판매 가능 하도록 변경해 보세요.

# 문제02
# range, if 등등
# 1부터 50까지의 정수와 comprehension을 사용하여 다음을 구해 보세요.
# A=408=3의 배수의 총합
# B=867=3의 배수가 아닌 수의 총합

# A-B = 459

# 힌트 
# mylist = [10, 20, 30]
# 내장 함수 sum(mylist) 사용
'''

In [1]:
# 재고 소진시 까지 판매하기
# 개인 컵 가져 오면 100원 할인하기
product = '우유'
bottle = 5 # 판매 가능 수량
price = 1000 # 단가
discount = 100 # 개인 컵 있으면 할인 금액

print('%s 판매 가능 수량 : %d' % (product, bottle))
print('단가 : %d' % (price))

우유 판매 가능 수량 : 5
단가 : 1000

In [2]:
while True :
    money = int(input('돈을 넣어 주세요 :'))
    
    if money == price :
        print('%s 1병을 판매합니다.' % (product))
        bottle -= 1
            change = discount
        print('거스름 돈 %d원을 돌려 줍니다.' % (change))
        
    elif money > price :
        mybottle = int(money/price) # 내가 구매할 수 있는 병 개수
        if mybottle > bottle :
            mybottle = bottle
        
            change += discount
        print('거스름 돈 %d원을 돌려 줍니다.' % (change))
        
    else :
        print('금액이 부족하여 %s를 판매할 수 없습니다.' % (product))
    
# end if
    
    if bottle == 0 :
        print('%s가(이) 소진되어서 판매를 중지합니다.' % (product))
        break
    else : 
        print('bottle = ' + str(bottle))
# while True

돈을 넣어 주세요 :5000
가진 돈 만큼 우유 5병을 판매합니다.
거스름 돈 4000원을 돌려 줍니다.
돈을 넣어 주세요 :3000
가진 돈 만큼 우유 4병을 판매합니다.
거스름 돈 2000원을 돌려 줍니다.
돈을 넣어 주세요 :5000
가진 돈 만큼 우유 3병을 판매합니다.
거스름 돈 4000원을 돌려 줍니다.
돈을 넣어 주세요 :6000
가진 돈 만큼 우유 2병을 판매합니다.
거스름 돈 5000원을 돌려 줍니다.
돈을 넣어 주세요 :60000
가진 돈 만큼 우유 1병을 판매합니다.
거스름 돈 59000원을 돌려 줍니다.
우유가(이) 소진되어서 판매를 중지합니다.

In [26]:
# 문제 02 풀이
mylist = [item for item in range(1,51)]
A = [idx for idx in mylist if idx % 3 == 0]
B = [idx for idx in mylist if idx % 3 != 0]
result = sum(B) - sum(A)
result

459