<h1>간단한 산술 연산</h1>

<h4><font color="green">변수 a를 정의합니다.</font></h4>

In [1]:
a=14
a

14

<h4><font color="green">변수 b를 정의합니다.</font></h4>

In [2]:
b=5
b

5

<h4><font color="green">변수 c를 정의하고, 합을 구합니다</font></h4>

In [3]:
c=a+b
print(c)

19

<h1>데이터 타입과 입출력</h1>

<h3>입출력 함수 사용하기</h3>

In [4]:
name = input('이름 입력 : ')
address = input('주소 입력 : ')

KeyboardInterrupt: Interrupted by user

In [ ]:
print('이름 : %s' % (name))
print('주소 : %s' % (address))

<h3>데이터의 형변환</h3>

In [ ]:
data01='11.11'
data02='22.22'
data03=50

In [ ]:
sum=data01+data02 # 문자열 결합
sum

In [ ]:
float01=float(data01)
float02=float(data02)
sum=float01+float02
sum

In [ ]:
float03=float(data03)
sum=float02+float03
sum

In [ ]:
int01=int(float01)
int02=int(float02)
int03=int(float03)
sum=int01+int02+int03
sum

In [ ]:
print('변수 float01의 타입 : ' + str(type(float01)))

In [ ]:
print(type(int02))
print(type(data01))

<h3>format 함수 사용하기</h3>

In [ ]:
product = '우유'
bottle = 5
message = '우리 매장의 {} 재고는 총 {}잔 입니다.'
print(message.format(product, bottle))

In [ ]:
price = 1000
cup = int(input('몇 잔 마실래?'))

In [ ]:
# format() 함수를 이용하여 다음과 같이 출력해 보세요.
# 2잔의 우유는 2000원에 판매됩니다.
message = '{}잔의 {}는 {}원에 판매됩니다.'
print(message.format(cup, product, cup*price))

<h1>조건 판단문</h1>

<h3>미성년자 체크하기</h3>

In [ ]:
# input() 함수는 반환 타입이 문자열(str) 입니다.
name = input('이름 입력 : ')
age = int(input('나이 입력 : '))

In [ ]:
if age >= 19:
        result = '성인'
else : 
        result = '미성년자'

In [ ]:
message = '{}님은 \'{}\'입니다.'
print(message.format(name, result))

<h3>확정 체크하기</h3>

In [ ]:
name = input('이름 입력 : ')
jumsu = int(input('점수 입력 : '))

In [ ]:
if jumsu >= 60:
    grade = 'A'
elif jumsu >= 80 :
    grade = 'B'
elif jumsu >= 70 :
    grade = 'C'
elif jumsu >= 60 :
    grade = 'D'
else : 
    grade = 'F'

In [ ]:
message = '\'{}\'님의 점수는 \'{}\'점이며, 학점은 \'{}\'입니다.'
print(message.format(name, jumsu, grade))

<h1>집합(iterable) 자료형</h1>

<h3>리스트(list) 다루기</h3>

In [ ]:
humans = ['김유식','이준수','홍기영','박진희','류지은','노유정','박지만',]
humans

In [ ]:
print(type(humans))

In [ ]:
# 인덱싱(indexing) : 인덱스를 이용하여 특정 요소를 추출하는 동작
# 0 부터 카운팅 됨 (0 base)
humans[3]

In [ ]:
# -는 -1 부터 카운팅 됨 음수는 뒤에서 카운팅 시작(1 base)
humans[-3]

In [ ]:
# 중요! 슬라이싱(slicing) : 전체 요소에서 데이터의 일부분을 얻어 내는 동작
humans[1:4] #start <= 범위 < stop

In [ ]:
length = len(humans)
print('요소개수 : {}'.format(str(length)))

In [ ]:
# humans[::] -> start : stop : step 을 의미함
# 변수(기본 값) : start(1), stop(요소 길이), step(1)
humans[0:length:2]

In [ ]:
print('3의 배수만 출력하기')
humans[0:length:3]

<h3>사전(dictionary) 다루기</h3>

In [ ]:
dictionary = {'kor':85,'eng':70,'math':50}

In [ ]:
print('사전의 key 목록 보기')
for key in dictionary.keys():
    print(key)

In [ ]:
print('사전의 value 목록 보기')
for value in dictionary.values():
    print(value)

In [ ]:
print('items() 메소드는 key와 values를 한번에 보여 줍니다.')
message = '과목 {}의 점수 : {}'

for (key, value) in dictionary.items():
    print(message.format(key,value))

In [ ]:
subject = 'eng' #찾을 과목
print(subject in dictionary) # 사전에 존재 하나요?
dictionary['eng'] # 사전에서 읽기

In [ ]:
dictionary['sci'] = 90 # 과학 점수 추가
print(dictionary)

In [ ]:
if subject in dictionary :
    print('eng 과목은' + str(dictionary[subject]) + '점 입니다.')
else :
    print(subject + '과목은 미응시하였습니다.')

In [ ]:
print('pop 메소드 사용하기')
result = dictionary.pop('eng')

print('pop 이후의 사전 내용 : ', dictionary)
print('pop 결과 : ' , result)

In [ ]:
print('\nclear() 메소드는 사전의 내용을 모두 비웁니다.')
dictionary.clear()

<h3>튜플(tuple) 다루기</h3>

In [ ]:
print(type(('사과')))
print(type(('사과',)))

In [ ]:
tuple01 = ('사과', '바나나', '체리')
tuple01 += ('감',)
tuple01

In [ ]:
tuple02 = ('사과', '바나나', '체리', '감')
tuple02

In [ ]:
if tuple01 == tuple02 :
    print('component equal')
else :
    print('component not equal')

In [ ]:
# 단순한 콤마 연결로, tuple을 만들 수 있습니다.
tuple03 = '사과', '오렌지', '귤'
tuple03

In [ ]:
tuple04 = ('사과', '바나나', '체리')
tuple05 = ('감', '귤', '밤')

In [ ]:
print('+ 기호는 튜플을 합치는 역할을 합니다.')
mytuple = tuple04 + tuple05
mytuple

In [ ]:
print('* 기호는 튜플을 지정수 만큼 반복하는 역할을 합니다.')
mytuple = tuple04 * 4
mytuple

In [ ]:
# swap 기법 : 서로 다른 두 변수의 값을 바꾸는 알고리즘
a,b = 11,22
a, b = b, a

print('a={},b={}'.format(a,b))

In [ ]:
# 인덱싱과 슬라이싱 역시 사용 가능합니다.
mytuple = tuple04 + tuple05
mytuple

In [ ]:
mytuple[2]

In [ ]:
mytuple[1:4]

In [ ]:
# tuple은 요소의 값 변경을 허용하지 않습니다.
mytuple[0] = '배'

In [ ]:
# tuple의 요소를 변경하는 절차
# 1. list로 타입 변경
# 2. 필요한 요소의 값을 수정하기
# 3. 다시 tuple 타입 변경

mylist = list(mytuple)
mylist[0] = '배'
mylist[1] = '딸기'
mytuple = tuple(mylist)
mytuple

In [ ]:
for item in mytuple:
    print(item)

In [ ]:
mytuple += ('바나나', '바나나')
mytuple

In [ ]:
finditem = '바나나'
print('바나나 요소 개수 : ' + str(mytuple.count(finditem)))

In [ ]:
finditem = '체리'
print('체리는 몇 번째 있나요?' + str(mytuple.index(finditem)) + '번재')

<h1>'테마 바꾸는 방법'<h1>

In [ ]:
!pip install jupyterthemes

In [ ]:
!jt -l

In [ ]:
!jt -h

In [ ]:
!jt -t chesterish

In [ ]:
!jt -t monokai -f bitstream -fs 13 -tf roboto -tfs 13 -nf opensans -nfs 13 -ofs 13 -cellw 100% -lineh 180 -T -N

<h3>집합(set) 다루기</h3>

In [ ]:
fruits = {'사과','키위','복숭아','사과'}
fruits # unordered, duplicates not allowed

In [ ]:
fruits.add('오렌지')
fruits

In [ ]:
another = {'파인애플', '망고', '귤'}
fruits.update(another)
fruits

In [ ]:
fruits.remove('망고')
fruits

In [ ]:
print('과일 총 개수 : %d' % (len(fruits)))

In [ ]:
finditem = '망고'
if finditem in fruits :
    print(finditem + '은(는) 목록에 들어 있습니다.')
else :
    print(finditem + '은(는) 목록에 들어 있지 않습니다.')

In [ ]:
for item in fruits :
    print(item)

In [ ]:
fruits.clear()

In [ ]:
fruit01 = set(('사과','복숭아'))
fruit02 = set(('키위','복숭아'))

In [ ]:
newset01 = fruit01.union(fruit02)
newset01 # 합집합

In [ ]:
newset02 = fruit01.intersection(fruit02)
newset02 # 교집합

In [ ]:
newset031 = fruit01.difference(fruit02)
newset031

In [ ]:
newset032 = fruit02.difference(fruit01)
newset032

In [ ]:
if newset031 == newset032 :
    print('교환 법칙 성립함')
else :
    print('교환 법칙 성립 안 함')

In [ ]:
newset04 = fruit01.symmetric_difference(fruit02)
newset04

In [ ]:
fruit01 = set(('사과','복숭아','키위','귤'))
fruit02 = set(('키위','감'))
fruit03 = set(('키위','귤'))

In [ ]:
result = fruit02.issubset(fruit01)
result # fruit02의 과일들은 fruit01 에 모두 포함되어 있나요?

In [ ]:
result = fruit03.issubset(fruit01)
result

In [ ]:
result = fruit01.issubset(fruit03)
result

<h1>반복문<h1>

<h3>range() 함수</h3>

In [ ]:
# range([start, ]stop[, step])

In [ ]:
for idx in range(3):
    print(idx)

In [ ]:
for idx in range(1,3):
    print(idx)

In [ ]:
for idx in range(1,11,3):
    print(idx)

<h3>for 반복문과 문자열 함수</h3>

In [ ]:
mystring = 'What A Wonderful World'
mystring

In [ ]:
mylist = mystring.split()
mylist

In [ ]:
print(type(mylist))

In [ ]:
for idx in range(len(mylist)):
    if idx % 2 == 0 :
        mylist[idx] = mylist[idx].upper()
    else :
        mylist[idx] = mylist[idx].lower()
# end for

mylist

In [ ]:
result = '#'.join(mylist)
result

In [ ]:
mystring01 = 'To live or die that is the question'
mystring01

In [ ]:
mylist01 = mystring01.split()
mylist01

In [ ]:
for idx in range(len(mylist01)):
    if idx % 3 == 0 :
        mylist01[idx] = mylist01[idx].upper()
    elif idx % 3 == 1 :
        mylist01[idx] = mylist01[idx].capitalize()
    else :
        mylist01[idx] = mylist01[idx].lower()
#end for

mylist01

In [ ]:
result = '@'.join(mylist01)
result

<h3>while 반복문</h3>

In [1]:
# 재고 소진시 까지 판매하기
# 개인 컵 가져 오면 100원 할인하기
product = '우유'
bottle = 3 # 판매 가능 수량
price = 1000 # 단가
discount = 100 # 개인 컵 있으면 할인 금액

print('%s 판매 가능 수량 : %d' % (product, bottle))
print('단가 : %d' % (price))

우유 판매 가능 수량 : 3
단가 : 1000

In [ ]:
while True :
    money = int(input('돈을 넣어 주세요 :'))
    if money == price :
        print('%s 1병을 판매합니다.' % (product))
        bottle -= 1
        
    elif money > price :
        print('%s 1병을 판매합니다.' % (product))
        bottle -= 1
        change = money - price
        print('거스름 돈 %d원을 돌려 줍니다.' % (change))
    else :
        print('금액이 부족하여 %s를 판매할 수 없습니다.' % (product))
    
# end if
    
    if bottle == 0 :
        print('%s가(이) 소진되어서 판매를 중지합니다.' % (product))
        break
# while True

In [ ]:
while True :
    money = int(input('돈을 넣어 주세요 :'))
    
    # 프로그래밍에서 0은 거짓, 0이 아니면 True 입니다.
    hasMyCup = bool(int(input('개인 컵이 있나요? (있음(1),없음(0))')))
    
    if money == price :
        print('%s 1병을 판매합니다.' % (product))
        bottle -= 1
        if hasMyCup :
                change = discount
        print('거스름 돈 %d원을 돌려 줍니다.' % (change))
        
    elif money > price :
        print('%s 1병을 판매합니다.' % (product))
        bottle -= 1
        change = money - price
        if hasMyCup :
            change += discount
        print('거스름 돈 %d원을 돌려 줍니다.' % (change))
        
    else :
        print('금액이 부족하여 %s를 판매할 수 없습니다.' % (product))
    
# end if
    
    if bottle == 0 :
        print('%s가(이) 소진되어서 판매를 중지합니다.' % (product))
        break
    else : 
        print('bottle = ' + str(bottle))
# while True

<h3>List comprehension</h3>

In [ ]:
# Comprehension은 반복문 등을 사용하여 iterable(반복이 가능한) 객체를 생성해주는 문법

In [3]:
mylist01 = [item for item in range(1,6)]
mylist01

[1, 2, 3, 4, 5]

In [6]:
mylist02 = [item**2 for item in range(1,6)]
mylist02

[1, 4, 9, 16, 25]

In [8]:
mylist03 = [idx for idx in range(1,6) if idx%2 == 0]
mylist03

[2, 4]

In [10]:
humans = ['김유식','이준수','홍기영','박진희','류지은','노유정','박지만']
mylist04 = [saram + '님' for saram in humans]
mylist04

['김유식님', '이준수님', '홍기영님', '박진희님', '류지은님', '노유정님', '박지만님']

In [14]:
mylist05 = [humans[idx]for idx in range(len(humans)) if idx % 3 == 1]
mylist05

['이준수', '류지은']

<h3>Dict comprehension</h3>

In [16]:
fruits = ['키위', '사과', '복숭아']
stock = [30,20,50]

mydict01 = {key:value for key, value in zip(fruits, stock)}
mydict01

{'키위': 30, '사과': 20, '복숭아': 50}

In [17]:
fruit_tuples = [('오렌지',10),('귤',20),('망고',30)]
fruit_tuples

[('오렌지', 10), ('귤', 20), ('망고', 30)]

In [20]:
mydict02 = {item[0]:item[1] for item in fruit_tuples if item[1] >= 20}
mydict02

{'귤': 20, '망고': 30}

<h3>Set comprehension</h3>

In [28]:
mylist = [4,1,3,2,3,1]
mydict = {item for item in mylist}
newlist = [item for item in mydict]
newlist

[1, 2, 3, 4]

In [31]:
mylist = [item for item in range(1,11)]
newSet = {list for item in mylist if item % 2 == 0}

print('The existing list is:')
print(mylist)
print('The Newly Created set is:')
print(newSet)

The existing list is:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The Newly Created set is:
{<class 'list'>}