In [ ]:
다음 코드를 사용하여 데이터 프레임을 생성해 주세요.
모든 데이터는 head()메소드를 사용하여 출력하도록 합니다.

homeware = pd.read_csv('./../data/가전제품.csv', encoding='cp949')
rowindex = homeware['제품명'] + '_' + homeware['분기'].astype('str') + '사분기'
homeware.index = rowindex
homeware.head()

'일생산량' 열을 Series로 추출하고, 다음 물음에 답해 주세요.
	행 색인을 기반으로 오름차순, 내림차순으로 정렬해 보세요.
	'일생산량'이 가장 적은 행을 추출해 보세요.
	'일생산량'이 가장 많은 행을 추출해 보세요.
	
homeware에 대하여, 다음 물음에 답해 주세요.
	행 색인을 기반으로 행을 추출해 보세요.
	컬럼 이름을 오름차순, 내림차순으로 정렬해 보세요.
	'총생산량'이 가장 적은 행을 추출해 보세요.
	'불량품'이 가장 많은 행을 추출해 보세요.
	'생산일수'이 가장 적은 순으로, 일생산량이 많은 순으로 행을 추출해 보세요.


'총생산량' 컬럼을 total 변수에 다음과 같이 저장합니다.
데이터 분석을 편리하게 하기 위하여 값을 기반으로 미리 정렬해 두도록 합니다.

total = homeware['총생산량']
total = total.to_frame().sort_values(by='총생산량')
total

저장한 후, total에 대하여 다음 물음에 답해 주세요. 
	작은 수부터 우선 순위를 매기되, 동일 값은 평균 값으로 순위를 매겨 주세요.
	작은 수부터 우선 순위를 매기되, 동일 값은 최소 값으로 순위를 매겨 주세요.
	큰 수부터 우선 순위를 매기되, 동일 값은 최소 값으로 순위를 매겨 주세요.
	이것을 이용하여 신규 컬럼 rank를 생성해 주세요.

homeware에 대하여, '일생산량'과 '출고량' 컬럼에 대하여 다음 물음에 답해 주세요. 
아래 '출력 결과'를 참조하세요.
	'일생산량'의 최대 값과 최소 값을 구해 보세요.
	'출고량'의 최대 값과 최소 값을 구해 보세요.
	'일생산량'의 최대 값을 보유한 색인은 ?
	'일생산량'의 최소 값을 보유한 색인은 ?

출력 결과
	일생산량 max : 100
	일생산량 min : 65
	출고량 max : 95
	출고량 min : 50
	
	'일생산량' 최대 값 : ['전기밥솥_4사분기']
	'일생산량' 최소 값 : ['미니냉장고_1사분기', '선풍기_2사분기']
	
2개의 컬럼('일생산량'과 '출고량')을 별도 추출하여 data 변수에 저장합니다.
	data 변수에 대하여 큰 수부터 우선 순위를 매기되, 동일 값은 평균 값으로 순위를 매겨 주세요.
	'일생산량'과 '출고량' 컬럼의 최대 값과 최소 값에 랭킹이 잘 적용되었는 지 확인하세요.

In [18]:
import pandas as pd

In [3]:
homeware = pd.read_csv('./../data/가전제품.csv', encoding='cp949')

In [4]:
homeware

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
0    미니오븐   1    85    20   6000   24   50
1    전기밥솥   1    85    25   9000   36   80
2     믹서기   1    90    25  12000   48   80
3   전자레인지   1    85    25   7200   29   50
4   미니냉장고   1    65    25   4800   19   65
5     선풍기   1    70    25  10800   43   55
6    미니오븐   2    85    20   4960   26   55
7    전기밥솥   2    70    20  11160   39   65
8     믹서기   2    85    25  12800   39   80
9   전자레인지   2    90    20   7680   22   60
10  미니냉장고   2    90    25   5120   22   60
11    선풍기   2    65    20  11520   33   60
12   미니오븐   3    95    20   6200   31   65
13   전기밥솥   3    90    25   9300   52   90
14    믹서기   3    80    20  12400   43   95
15  전자레인지   3    70    25   7440   26   50
16  미니냉장고   3    90    25  12400   17   75
17    선풍기   3    90    25   7440   21   50
18   미니오븐   4    80    25   6200   47   80
19   전기밥솥   4   100    25   9300   33   50
20    믹서기   4    80    25   6400   43   95
21  전자레인지   4    95    20   9600   26   95
22  미니냉장고   4    85    20   4960   17   50
23    선풍기   4    70    25  11160   39   50

In [5]:
rowindex = homeware['제품명'] + '_' + homeware['분기'].astype('str') + '사분기'
homeware.index = rowindex
homeware.head()

              제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
미니오븐_1사분기    미니오븐   1    85    20   6000   24   50
전기밥솥_1사분기    전기밥솥   1    85    25   9000   36   80
믹서기_1사분기      믹서기   1    90    25  12000   48   80
전자레인지_1사분기  전자레인지   1    85    25   7200   29   50
미니냉장고_1사분기  미니냉장고   1    65    25   4800   19   65

In [6]:
work = homeware['일생산량']
work.to_frame()

            일생산량
미니오븐_1사분기     85
전기밥솥_1사분기     85
믹서기_1사분기      90
전자레인지_1사분기    85
미니냉장고_1사분기    65
선풍기_1사분기      70
미니오븐_2사분기     85
전기밥솥_2사분기     70
믹서기_2사분기      85
전자레인지_2사분기    90
미니냉장고_2사분기    90
선풍기_2사분기      65
미니오븐_3사분기     95
전기밥솥_3사분기     90
믹서기_3사분기      80
전자레인지_3사분기    70
미니냉장고_3사분기    90
선풍기_3사분기      90
미니오븐_4사분기     80
전기밥솥_4사분기    100
믹서기_4사분기      80
전자레인지_4사분기    95
미니냉장고_4사분기    85
선풍기_4사분기      70

In [7]:
result = homeware.sort_index(axis=0)
result

              제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
미니냉장고_1사분기  미니냉장고   1    65    25   4800   19   65
미니냉장고_2사분기  미니냉장고   2    90    25   5120   22   60
미니냉장고_3사분기  미니냉장고   3    90    25  12400   17   75
미니냉장고_4사분기  미니냉장고   4    85    20   4960   17   50
미니오븐_1사분기    미니오븐   1    85    20   6000   24   50
미니오븐_2사분기    미니오븐   2    85    20   4960   26   55
미니오븐_3사분기    미니오븐   3    95    20   6200   31   65
미니오븐_4사분기    미니오븐   4    80    25   6200   47   80
믹서기_1사분기      믹서기   1    90    25  12000   48   80
믹서기_2사분기      믹서기   2    85    25  12800   39   80
믹서기_3사분기      믹서기   3    80    20  12400   43   95
믹서기_4사분기      믹서기   4    80    25   6400   43   95
선풍기_1사분기      선풍기   1    70    25  10800   43   55
선풍기_2사분기      선풍기   2    65    20  11520   33   60
선풍기_3사분기      선풍기   3    90    25   7440   21   50
선풍기_4사분기      선풍기   4    70    25  11160   39   50
전기밥솥_1사분기    전기밥솥   1    85    25   9000   36   80
전기밥솥_2사분기    전기밥솥   2    70    20  11160   39   65
전기밥솥_3사분기    전기밥솥   3    90    25   9300   52   90
전기밥솥_4사분기    전기밥솥   4   100    25   9300   33   50
전자레인지_1사분기  전자레인지   1    85    25   7200   29   50
전자레인지_2사분기  전자레인지   2    90    20   7680   22   60
전자레인지_3사분기  전자레인지   3    70    25   7440   26   50
전자레인지_4사분기  전자레인지   4    95    20   9600   26   95

In [8]:
result = homeware.sort_index(axis=1)
result

            분기  불량품  생산일수  일생산량    제품명   총생산량  출고량
미니오븐_1사분기    1   24    20    85   미니오븐   6000   50
전기밥솥_1사분기    1   36    25    85   전기밥솥   9000   80
믹서기_1사분기     1   48    25    90    믹서기  12000   80
전자레인지_1사분기   1   29    25    85  전자레인지   7200   50
미니냉장고_1사분기   1   19    25    65  미니냉장고   4800   65
선풍기_1사분기     1   43    25    70    선풍기  10800   55
미니오븐_2사분기    2   26    20    85   미니오븐   4960   55
전기밥솥_2사분기    2   39    20    70   전기밥솥  11160   65
믹서기_2사분기     2   39    25    85    믹서기  12800   80
전자레인지_2사분기   2   22    20    90  전자레인지   7680   60
미니냉장고_2사분기   2   22    25    90  미니냉장고   5120   60
선풍기_2사분기     2   33    20    65    선풍기  11520   60
미니오븐_3사분기    3   31    20    95   미니오븐   6200   65
전기밥솥_3사분기    3   52    25    90   전기밥솥   9300   90
믹서기_3사분기     3   43    20    80    믹서기  12400   95
전자레인지_3사분기   3   26    25    70  전자레인지   7440   50
미니냉장고_3사분기   3   17    25    90  미니냉장고  12400   75
선풍기_3사분기     3   21    25    90    선풍기   7440   50
미니오븐_4사분기    4   47    25    80   미니오븐   6200   80
전기밥솥_4사분기    4   33    25   100   전기밥솥   9300   50
믹서기_4사분기     4   43    25    80    믹서기   6400   95
전자레인지_4사분기   4   26    20    95  전자레인지   9600   95
미니냉장고_4사분기   4   17    20    85  미니냉장고   4960   50
선풍기_4사분기     4   39    25    70    선풍기  11160   50

In [9]:
product = homeware['일생산량']
product.to_frame()

            일생산량
미니오븐_1사분기     85
전기밥솥_1사분기     85
믹서기_1사분기      90
전자레인지_1사분기    85
미니냉장고_1사분기    65
선풍기_1사분기      70
미니오븐_2사분기     85
전기밥솥_2사분기     70
믹서기_2사분기      85
전자레인지_2사분기    90
미니냉장고_2사분기    90
선풍기_2사분기      65
미니오븐_3사분기     95
전기밥솥_3사분기     90
믹서기_3사분기      80
전자레인지_3사분기    70
미니냉장고_3사분기    90
선풍기_3사분기      90
미니오븐_4사분기     80
전기밥솥_4사분기    100
믹서기_4사분기      80
전자레인지_4사분기    95
미니냉장고_4사분기    85
선풍기_4사분기      70

In [10]:
product.rank()

미니오븐_1사분기     12.5
전기밥솥_1사분기     12.5
믹서기_1사분기      18.5
전자레인지_1사분기    12.5
미니냉장고_1사분기     1.5
선풍기_1사분기       4.5
미니오븐_2사분기     12.5
전기밥솥_2사분기      4.5
믹서기_2사분기      12.5
전자레인지_2사분기    18.5
미니냉장고_2사분기    18.5
선풍기_2사분기       1.5
미니오븐_3사분기     22.5
전기밥솥_3사분기     18.5
믹서기_3사분기       8.0
전자레인지_3사분기     4.5
미니냉장고_3사분기    18.5
선풍기_3사분기      18.5
미니오븐_4사분기      8.0
전기밥솥_4사분기     24.0
믹서기_4사분기       8.0
전자레인지_4사분기    22.5
미니냉장고_4사분기    12.5
선풍기_4사분기       4.5
Name: 일생산량, dtype: float64

In [12]:
product.rank(method='first')

미니오븐_1사분기     10.0
전기밥솥_1사분기     11.0
믹서기_1사분기      16.0
전자레인지_1사분기    12.0
미니냉장고_1사분기     1.0
선풍기_1사분기       3.0
미니오븐_2사분기     13.0
전기밥솥_2사분기      4.0
믹서기_2사분기      14.0
전자레인지_2사분기    17.0
미니냉장고_2사분기    18.0
선풍기_2사분기       2.0
미니오븐_3사분기     22.0
전기밥솥_3사분기     19.0
믹서기_3사분기       7.0
전자레인지_3사분기     5.0
미니냉장고_3사분기    20.0
선풍기_3사분기      21.0
미니오븐_4사분기      8.0
전기밥솥_4사분기     24.0
믹서기_4사분기       9.0
전자레인지_4사분기    23.0
미니냉장고_4사분기    15.0
선풍기_4사분기       6.0
Name: 일생산량, dtype: float64

In [13]:
product.rank(method='max')

미니오븐_1사분기     15.0
전기밥솥_1사분기     15.0
믹서기_1사분기      21.0
전자레인지_1사분기    15.0
미니냉장고_1사분기     2.0
선풍기_1사분기       6.0
미니오븐_2사분기     15.0
전기밥솥_2사분기      6.0
믹서기_2사분기      15.0
전자레인지_2사분기    21.0
미니냉장고_2사분기    21.0
선풍기_2사분기       2.0
미니오븐_3사분기     23.0
전기밥솥_3사분기     21.0
믹서기_3사분기       9.0
전자레인지_3사분기     6.0
미니냉장고_3사분기    21.0
선풍기_3사분기      21.0
미니오븐_4사분기      9.0
전기밥솥_4사분기     24.0
믹서기_4사분기       9.0
전자레인지_4사분기    23.0
미니냉장고_4사분기    15.0
선풍기_4사분기       6.0
Name: 일생산량, dtype: float64

In [14]:
product.rank(method='min')

미니오븐_1사분기     10.0
전기밥솥_1사분기     10.0
믹서기_1사분기      16.0
전자레인지_1사분기    10.0
미니냉장고_1사분기     1.0
선풍기_1사분기       3.0
미니오븐_2사분기     10.0
전기밥솥_2사분기      3.0
믹서기_2사분기      10.0
전자레인지_2사분기    16.0
미니냉장고_2사분기    16.0
선풍기_2사분기       1.0
미니오븐_3사분기     22.0
전기밥솥_3사분기     16.0
믹서기_3사분기       7.0
전자레인지_3사분기     3.0
미니냉장고_3사분기    16.0
선풍기_3사분기      16.0
미니오븐_4사분기      7.0
전기밥솥_4사분기     24.0
믹서기_4사분기       7.0
전자레인지_4사분기    22.0
미니냉장고_4사분기    10.0
선풍기_4사분기       3.0
Name: 일생산량, dtype: float64

In [16]:
homeware.rank(axis=1, ascending=False)
homeware

C:\Users\kosmo\AppData\Local\Temp\ipykernel_16224\638250239.py:1: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  homeware.rank(axis=1, ascending=False)

              제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
미니오븐_1사분기    미니오븐   1    85    20   6000   24   50
전기밥솥_1사분기    전기밥솥   1    85    25   9000   36   80
믹서기_1사분기      믹서기   1    90    25  12000   48   80
전자레인지_1사분기  전자레인지   1    85    25   7200   29   50
미니냉장고_1사분기  미니냉장고   1    65    25   4800   19   65
선풍기_1사분기      선풍기   1    70    25  10800   43   55
미니오븐_2사분기    미니오븐   2    85    20   4960   26   55
전기밥솥_2사분기    전기밥솥   2    70    20  11160   39   65
믹서기_2사분기      믹서기   2    85    25  12800   39   80
전자레인지_2사분기  전자레인지   2    90    20   7680   22   60
미니냉장고_2사분기  미니냉장고   2    90    25   5120   22   60
선풍기_2사분기      선풍기   2    65    20  11520   33   60
미니오븐_3사분기    미니오븐   3    95    20   6200   31   65
전기밥솥_3사분기    전기밥솥   3    90    25   9300   52   90
믹서기_3사분기      믹서기   3    80    20  12400   43   95
전자레인지_3사분기  전자레인지   3    70    25   7440   26   50
미니냉장고_3사분기  미니냉장고   3    90    25  12400   17   75
선풍기_3사분기      선풍기   3    90    25   7440   21   50
미니오븐_4사분기    미니오븐   4    80    25   6200   47   80
전기밥솥_4사분기    전기밥솥   4   100    25   9300   33   50
믹서기_4사분기      믹서기   4    80    25   6400   43   95
전자레인지_4사분기  전자레인지   4    95    20   9600   26   95
미니냉장고_4사분기  미니냉장고   4    85    20   4960   17   50
선풍기_4사분기      선풍기   4    70    25  11160   39   50

In [17]:
homeware = pd.read_csv('./../data/가전제품.csv', encoding='cp949')

In [19]:
homeware

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
0    미니오븐   1    85    20   6000   24   50
1    전기밥솥   1    85    25   9000   36   80
2     믹서기   1    90    25  12000   48   80
3   전자레인지   1    85    25   7200   29   50
4   미니냉장고   1    65    25   4800   19   65
5     선풍기   1    70    25  10800   43   55
6    미니오븐   2    85    20   4960   26   55
7    전기밥솥   2    70    20  11160   39   65
8     믹서기   2    85    25  12800   39   80
9   전자레인지   2    90    20   7680   22   60
10  미니냉장고   2    90    25   5120   22   60
11    선풍기   2    65    20  11520   33   60
12   미니오븐   3    95    20   6200   31   65
13   전기밥솥   3    90    25   9300   52   90
14    믹서기   3    80    20  12400   43   95
15  전자레인지   3    70    25   7440   26   50
16  미니냉장고   3    90    25  12400   17   75
17    선풍기   3    90    25   7440   21   50
18   미니오븐   4    80    25   6200   47   80
19   전기밥솥   4   100    25   9300   33   50
20    믹서기   4    80    25   6400   43   95
21  전자레인지   4    95    20   9600   26   95
22  미니냉장고   4    85    20   4960   17   50
23    선풍기   4    70    25  11160   39   50

In [20]:
total = homeware['총생산량']
total = total.to_frame().sort_values(by='총생산량')
total

     총생산량
4    4800
22   4960
6    4960
10   5120
0    6000
18   6200
12   6200
20   6400
3    7200
17   7440
15   7440
9    7680
1    9000
13   9300
19   9300
21   9600
5   10800
23  11160
7   11160
11  11520
2   12000
14  12400
16  12400
8   12800

In [21]:
total.rank(axis=1, ascending=False)
total

     총생산량
4    4800
22   4960
6    4960
10   5120
0    6000
18   6200
12   6200
20   6400
3    7200
17   7440
15   7440
9    7680
1    9000
13   9300
19   9300
21   9600
5   10800
23  11160
7   11160
11  11520
2   12000
14  12400
16  12400
8   12800

In [22]:
total.rank(axis=1, ascending=True)
total

     총생산량
4    4800
22   4960
6    4960
10   5120
0    6000
18   6200
12   6200
20   6400
3    7200
17   7440
15   7440
9    7680
1    9000
13   9300
19   9300
21   9600
5   10800
23  11160
7   11160
11  11520
2   12000
14  12400
16  12400
8   12800

In [23]:
homeware

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
0    미니오븐   1    85    20   6000   24   50
1    전기밥솥   1    85    25   9000   36   80
2     믹서기   1    90    25  12000   48   80
3   전자레인지   1    85    25   7200   29   50
4   미니냉장고   1    65    25   4800   19   65
5     선풍기   1    70    25  10800   43   55
6    미니오븐   2    85    20   4960   26   55
7    전기밥솥   2    70    20  11160   39   65
8     믹서기   2    85    25  12800   39   80
9   전자레인지   2    90    20   7680   22   60
10  미니냉장고   2    90    25   5120   22   60
11    선풍기   2    65    20  11520   33   60
12   미니오븐   3    95    20   6200   31   65
13   전기밥솥   3    90    25   9300   52   90
14    믹서기   3    80    20  12400   43   95
15  전자레인지   3    70    25   7440   26   50
16  미니냉장고   3    90    25  12400   17   75
17    선풍기   3    90    25   7440   21   50
18   미니오븐   4    80    25   6200   47   80
19   전기밥솥   4   100    25   9300   33   50
20    믹서기   4    80    25   6400   43   95
21  전자레인지   4    95    20   9600   26   95
22  미니냉장고   4    85    20   4960   17   50
23    선풍기   4    70    25  11160   39   50

In [24]:
result = homeware.dropna(subset=['불량품'])
result

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
0    미니오븐   1    85    20   6000   24   50
1    전기밥솥   1    85    25   9000   36   80
2     믹서기   1    90    25  12000   48   80
3   전자레인지   1    85    25   7200   29   50
4   미니냉장고   1    65    25   4800   19   65
5     선풍기   1    70    25  10800   43   55
6    미니오븐   2    85    20   4960   26   55
7    전기밥솥   2    70    20  11160   39   65
8     믹서기   2    85    25  12800   39   80
9   전자레인지   2    90    20   7680   22   60
10  미니냉장고   2    90    25   5120   22   60
11    선풍기   2    65    20  11520   33   60
12   미니오븐   3    95    20   6200   31   65
13   전기밥솥   3    90    25   9300   52   90
14    믹서기   3    80    20  12400   43   95
15  전자레인지   3    70    25   7440   26   50
16  미니냉장고   3    90    25  12400   17   75
17    선풍기   3    90    25   7440   21   50
18   미니오븐   4    80    25   6200   47   80
19   전기밥솥   4   100    25   9300   33   50
20    믹서기   4    80    25   6400   43   95
21  전자레인지   4    95    20   9600   26   95
22  미니냉장고   4    85    20   4960   17   50
23    선풍기   4    70    25  11160   39   50

In [25]:
uppro = homeware['불량품']
uppro.to_frame()

    불량품
0    24
1    36
2    48
3    29
4    19
5    43
6    26
7    39
8    39
9    22
10   22
11   33
12   31
13   52
14   43
15   26
16   17
17   21
18   47
19   33
20   43
21   26
22   17
23   39

In [28]:
result = homeware.sort_values(by = ['불량품'], ascending=False)
result

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
13   전기밥솥   3    90    25   9300   52   90
2     믹서기   1    90    25  12000   48   80
18   미니오븐   4    80    25   6200   47   80
20    믹서기   4    80    25   6400   43   95
5     선풍기   1    70    25  10800   43   55
14    믹서기   3    80    20  12400   43   95
23    선풍기   4    70    25  11160   39   50
7    전기밥솥   2    70    20  11160   39   65
8     믹서기   2    85    25  12800   39   80
1    전기밥솥   1    85    25   9000   36   80
19   전기밥솥   4   100    25   9300   33   50
11    선풍기   2    65    20  11520   33   60
12   미니오븐   3    95    20   6200   31   65
3   전자레인지   1    85    25   7200   29   50
15  전자레인지   3    70    25   7440   26   50
6    미니오븐   2    85    20   4960   26   55
21  전자레인지   4    95    20   9600   26   95
0    미니오븐   1    85    20   6000   24   50
10  미니냉장고   2    90    25   5120   22   60
9   전자레인지   2    90    20   7680   22   60
17    선풍기   3    90    25   7440   21   50
4   미니냉장고   1    65    25   4800   19   65
16  미니냉장고   3    90    25  12400   17   75
22  미니냉장고   4    85    20   4960   17   50

In [29]:
result = homeware.sort_values(by = ['총생산량'], ascending=True)
result

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
4   미니냉장고   1    65    25   4800   19   65
22  미니냉장고   4    85    20   4960   17   50
6    미니오븐   2    85    20   4960   26   55
10  미니냉장고   2    90    25   5120   22   60
0    미니오븐   1    85    20   6000   24   50
18   미니오븐   4    80    25   6200   47   80
12   미니오븐   3    95    20   6200   31   65
20    믹서기   4    80    25   6400   43   95
3   전자레인지   1    85    25   7200   29   50
17    선풍기   3    90    25   7440   21   50
15  전자레인지   3    70    25   7440   26   50
9   전자레인지   2    90    20   7680   22   60
1    전기밥솥   1    85    25   9000   36   80
13   전기밥솥   3    90    25   9300   52   90
19   전기밥솥   4   100    25   9300   33   50
21  전자레인지   4    95    20   9600   26   95
5     선풍기   1    70    25  10800   43   55
23    선풍기   4    70    25  11160   39   50
7    전기밥솥   2    70    20  11160   39   65
11    선풍기   2    65    20  11520   33   60
2     믹서기   1    90    25  12000   48   80
14    믹서기   3    80    20  12400   43   95
16  미니냉장고   3    90    25  12400   17   75
8     믹서기   2    85    25  12800   39   80

In [30]:
result = homeware.sort_values(by = ['생산일수','일생산량'], ascending=[True, False])
result

      제품명  분기  일생산량  생산일수   총생산량  불량품  출고량
12   미니오븐   3    95    20   6200   31   65
21  전자레인지   4    95    20   9600   26   95
9   전자레인지   2    90    20   7680   22   60
0    미니오븐   1    85    20   6000   24   50
6    미니오븐   2    85    20   4960   26   55
22  미니냉장고   4    85    20   4960   17   50
14    믹서기   3    80    20  12400   43   95
7    전기밥솥   2    70    20  11160   39   65
11    선풍기   2    65    20  11520   33   60
19   전기밥솥   4   100    25   9300   33   50
2     믹서기   1    90    25  12000   48   80
10  미니냉장고   2    90    25   5120   22   60
13   전기밥솥   3    90    25   9300   52   90
16  미니냉장고   3    90    25  12400   17   75
17    선풍기   3    90    25   7440   21   50
1    전기밥솥   1    85    25   9000   36   80
3   전자레인지   1    85    25   7200   29   50
8     믹서기   2    85    25  12800   39   80
18   미니오븐   4    80    25   6200   47   80
20    믹서기   4    80    25   6400   43   95
5     선풍기   1    70    25  10800   43   55
15  전자레인지   3    70    25   7440   26   50
23    선풍기   4    70    25  11160   39   50
4   미니냉장고   1    65    25   4800   19   65

In [32]:
total = homeware['총생산량']
total = total.to_frame().sort_values(by='총생산량')
total

     총생산량
4    4800
22   4960
6    4960
10   5120
0    6000
18   6200
12   6200
20   6400
3    7200
17   7440
15   7440
9    7680
1    9000
13   9300
19   9300
21   9600
5   10800
23  11160
7   11160
11  11520
2   12000
14  12400
16  12400
8   12800

In [35]:
total = total.sort_values(by='총생산량', ascending=False)
total

     총생산량
8   12800
16  12400
14  12400
2   12000
11  11520
7   11160
23  11160
5   10800
21   9600
13   9300
19   9300
1    9000
9    7680
15   7440
17   7440
3    7200
20   6400
12   6200
18   6200
0    6000
10   5120
22   4960
6    4960
4    4800

In [36]:
total = total.sort_values(by='총생산량', ascending=True)
total

     총생산량
4    4800
22   4960
6    4960
10   5120
0    6000
18   6200
12   6200
20   6400
3    7200
17   7440
15   7440
9    7680
1    9000
13   9300
19   9300
21   9600
5   10800
23  11160
7   11160
11  11520
2   12000
14  12400
16  12400
8   12800