<h1>내장 함수</font></h1>

<h4><font color="orange">max()와 min() 함수</font></h4>

In [1]:
# 다음 사전에서 가장 높은 점수와 가장 낮은 점수는 몇 점인가요?
# 내장 함수 max()와 min() 함수를 적절히 사용하면 됩니다.
students = {'이현식':75, '김현도':80, '유지강':60, '최윤희':90}

In [4]:
result = sorted(students)
result

['김현도', '유지강', '이현식', '최윤희']

In [7]:
result = sorted(students, reverse = True)
result

['최윤희', '이현식', '유지강', '김현도']

In [8]:
data = sorted(students.values(), reverse = True)
data

[90, 80, 75, 60]

In [18]:
result = max(students.values())
result

90

In [36]:
result = min(students.values())
result

60

In [43]:
maxval, minval = max(students.values()), min(students.values())
message = '최댓값 : %d점, 최솟값 : %d점'
print(message % (maxval,minval))

최댓값 : 90점, 최솟값 : 60점

<h4><font color="orange">enumerate 함수</font></h4>

In [45]:
# 다음 문장을 이용하여 출력 결과 처럼 만들어 보세요.
fruits = ('apple', 'banana', 'cherry')
enum = enumerate(fruits)
mylist = (list(enum))
mylist
# 출력 결과 : {'apple':10, 'banana':20, cherry':30}

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [56]:
newdict = {item[1] : 10 * (item[0] + 1) for item in mylist}
newdict

{'apple': 10, 'banana': 20, 'cherry': 30}

<h4><font color="orange">zip() 함수</font></h4>

In [24]:
ids = [1001, 1002, 1003]
names = ['김현도', '유지강', '최윤희']
ages = [10, 30, 20]
genders = ['남자', '남자', '여자']

In [2]:
# zip() 함수를 사용하되 다음과 같은 형식으로 출력해 보세요.
# 아이디 : 1001, 이름 : 김현도, 나이 : 10, 성별 : 남자

In [21]:
# zip() 함수를 사용하되 위의 문제에서 나이가 20세 이상인 사람만 출력해보세요.

In [55]:
for id, name, age, gender in zip(ids, names, ages, genders):
    if age >= 20 :
        message = '아이디 : {}, 이름 : {}, 나이 : {}, 성별 : {}'
        print(message.format(id,name,age,gender))
# end if

아이디 : 1002, 이름 : 유지강, 나이 : 30, 성별 : 남자
아이디 : 1003, 이름 : 최윤희, 나이 : 20, 성별 : 여자

<h4><font color="orange">lambda 함수</font></h4>

In [1]:
# 함수 y = 2 * x + 1 기능을 구현하는 함수 calc 구현하기

In [14]:
def calc(x):
    return 2 * x + 1

In [15]:
lambda_calc = lambda x : 2 * x + 1

In [17]:
x = 3
result = lambda_calc(x)
result

7

In [20]:
mylist = [1,2,3]
for val in mylist :
    result = lambda_calc(val)
    print(result)
# end for

3
5
7

<h1>클래스</font></h1>

<h4><font color="orange">개인 정보 클래스</font></h4>

In [21]:
'''
아이디 : yusin
이름 : 김유신
혈액형 : AB
'''

'\n아이디 : yusin\n이름 : 김유신\n혈액형 : AB\n'

In [37]:
class Human : # 클래스 정의
    # self는 자바의 this와 유사한 개념으로 사용되는 참조 변수 역할
    def __init__(self, id,name,blood): # 생성자 함수
        self.id = id
        self.name = name
        self.blood = blood
    
    def showInfo(self) :
        message = '아이디 : %s, 이름 : %s, 혈액형 : %s'
        return message % (self.id, self.name, self.blood)

In [38]:
yusin = Human('yusin','김유신','AB')
print(yusin)
print(type(yusin))

<__main__.Human object at 0x00000208D4AFB110>
<class '__main__.Human'>

In [39]:
yusin.showInfo()

'아이디 : yusin, 이름 : 김유신, 혈액형 : AB'

In [40]:
# dif 함수 : 해당 모듈(파이썬에서는 파일을 모듈이라고 함)에 들어 있는 모든 변수,
#            함수 목록들을 list 형식으로 보여 주는 함수
dir(yusin)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'blood',
 'id',
 'name',
 'showInfo']

In [41]:
myinfo = [item for item in dir(yusin) if not item.startswith('_')]
myinfo

['blood', 'id', 'name', 'showInfo']

<h1>클래스</font></h1>

<h4><font color="orange">연봉 계산</font></h4>

In [1]:
'''
이름 : 김유신
급여 : 400
'''
# 클래스 income을 구현해보세요
# 연봉은 급여가 500 이상이면 급여의 12배
# 미만이면 13배로 계산하세요

'\n이름 : 김유신\n급여 : 400\n'

In [2]:
class Income :
    def __init__(self, name, salary) :
        self.name = name
        self.salary = salary
        if salary >= 500 :
            self.annsal = self.salary * 12
        else :
            self.annsal = self.salary * 13
            
    def showInfo(self) :
        message = '이름 : %s, 급여 : %d, 연봉 : %d'
        return message % (self.name, self.salary, self.annsal)

In [4]:
shin = Income('김유신',400)
shin.showInfo()

'이름 : 김유신, 급여 : 400, 연봉 : 5200'

In [6]:
kim9 = Income('김구', 600)
kim9.showInfo()

'이름 : 김구, 급여 : 600, 연봉 : 7200'

In [7]:
members = [Income('이정식',300), Income('최부길',700)]
for saram in members :
    print(saram.showInfo())

이름 : 이정식, 급여 : 300, 연봉 : 3900
이름 : 최부길, 급여 : 700, 연봉 : 8400