In [47]:
import pandas as pd
import requests

In [48]:
dataInFolder = './../data/'

In [61]:
authkey = 'sfpGwEhbWejlYf8aFoPZzO65UKSGXmMu'
searchdate = '20230406'
data = 'AP01'

url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey={}&data={}'.format(authkey, data)

response = requests.get(url)
r_data = response.json()
exchange = pd.DataFrame(r_data)
exchange

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,1,AED,353.6,360.75,357.18,357,0,0,357,357.18,아랍에미리트 디르함
1,1,AUD,873.29,890.94,882.12,882,0,0,882,882.12,호주 달러
2,1,BHD,"3,444.76","3,514.35","3,479.56","3,479",0,0,"3,479","3,479.56",바레인 디나르
3,1,BND,977.88,997.63,987.76,987,0,0,987,987.76,브루나이 달러
4,1,CAD,965.63,985.14,975.39,975,0,0,975,975.39,캐나다 달러
5,1,CHF,"1,433.13","1,462.08","1,447.61","1,447",0,0,"1,447","1,447.61",스위스 프랑
6,1,CNH,189.08,192.89,190.99,190,0,0,190,190.99,위안화
7,1,DKK,190.16,194.01,192.09,192,0,0,192,192.09,덴마아크 크로네
8,1,EUR,"1,416.9","1,445.53","1,431.22","1,431",0,0,"1,431","1,431.22",유로
9,1,GBP,"1,618.92","1,651.63","1,635.28","1,635",0,0,"1,635","1,635.28",영국 파운드
10,1,HKD,165.45,168.8,167.13,167,0,0,167,167.13,홍콩 달러
11,1,IDR(100),8.7,8.87,8.79,8,0,0,8,8.79,인도네시아 루피아
12,1,JPY(100),991.32,"1,011.35","1,001.34","1,001",0,0,"1,001","1,001.34",일본 옌
13,1,KRW,0,0,1,1,0,0,1,1,한국 원
14,1,KWD,"4,232.9","4,318.41","4,275.66","4,275",0,0,"4,275","4,275.66",쿠웨이트 디나르
15,1,MYR,295.27,301.24,298.26,298,0,0,298,298.26,말레이지아 링기트
16,1,NOK,124.39,126.9,125.65,125,0,0,125,125.65,노르웨이 크로네
17,1,NZD,821.02,837.61,829.32,829,0,0,829,829.32,뉴질랜드 달러
18,1,SAR,346.2,353.19,349.7,349,0,0,349,349.7,사우디 리얄
19,1,SEK,124.78,127.31,126.05,126,0,0,126,126.05,스웨덴 크로나
20,1,SGD,977.88,997.63,987.76,987,0,0,987,987.76,싱가포르 달러
21,1,THB,38.25,39.02,38.64,38,0,0,38,38.64,태국 바트
22,1,USD,"1,298.78","1,325.01","1,311.9","1,311",0,0,"1,311","1,311.9",미국 달러

In [64]:
exchange = pd.DataFrame()
exchange

Empty DataFrame
Columns: []
Index: []

In [52]:
#https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=sfpGwEhbWejlYf8aFoPZzO65UKSGXmMu&searchdate=20180102&data=AP01

In [53]:
authkey = 'sfpGwEhbWejlYf8aFoPZzO65UKSGXmMu'
searchdate = '20230406'
data = 'AP01'

url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey={}&searchdate={}&data={}'.format(authkey, searchdate, data)

response = requests.get(url)
r_data = response.json()
exchange = pd.DataFrame(r_data)
exchange

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,1,AED,353.6,360.75,357.18,357,0,0,357,357.18,아랍에미리트 디르함
1,1,AUD,873.29,890.94,882.12,882,0,0,882,882.12,호주 달러
2,1,BHD,"3,444.76","3,514.35","3,479.56","3,479",0,0,"3,479","3,479.56",바레인 디나르
3,1,BND,977.88,997.63,987.76,987,0,0,987,987.76,브루나이 달러
4,1,CAD,965.63,985.14,975.39,975,0,0,975,975.39,캐나다 달러
5,1,CHF,"1,433.13","1,462.08","1,447.61","1,447",0,0,"1,447","1,447.61",스위스 프랑
6,1,CNH,189.08,192.89,190.99,190,0,0,190,190.99,위안화
7,1,DKK,190.16,194.01,192.09,192,0,0,192,192.09,덴마아크 크로네
8,1,EUR,"1,416.9","1,445.53","1,431.22","1,431",0,0,"1,431","1,431.22",유로
9,1,GBP,"1,618.92","1,651.63","1,635.28","1,635",0,0,"1,635","1,635.28",영국 파운드
10,1,HKD,165.45,168.8,167.13,167,0,0,167,167.13,홍콩 달러
11,1,IDR(100),8.7,8.87,8.79,8,0,0,8,8.79,인도네시아 루피아
12,1,JPY(100),991.32,"1,011.35","1,001.34","1,001",0,0,"1,001","1,001.34",일본 옌
13,1,KRW,0,0,1,1,0,0,1,1,한국 원
14,1,KWD,"4,232.9","4,318.41","4,275.66","4,275",0,0,"4,275","4,275.66",쿠웨이트 디나르
15,1,MYR,295.27,301.24,298.26,298,0,0,298,298.26,말레이지아 링기트
16,1,NOK,124.39,126.9,125.65,125,0,0,125,125.65,노르웨이 크로네
17,1,NZD,821.02,837.61,829.32,829,0,0,829,829.32,뉴질랜드 달러
18,1,SAR,346.2,353.19,349.7,349,0,0,349,349.7,사우디 리얄
19,1,SEK,124.78,127.31,126.05,126,0,0,126,126.05,스웨덴 크로나
20,1,SGD,977.88,997.63,987.76,987,0,0,987,987.76,싱가포르 달러
21,1,THB,38.25,39.02,38.64,38,0,0,38,38.64,태국 바트
22,1,USD,"1,298.78","1,325.01","1,311.9","1,311",0,0,"1,311","1,311.9",미국 달러

In [54]:
# 컬럼 정보
#result 조회 결과
#'CUR_UNIT':'통화코드',
#'CUR_NM':'국가/통화명',
#'TTB':'전신환(송금)받으실때',
#'TTS':'전신환(송금)보내실때',
#'DEAL_BAS_R':'매매 기준율',
#'BKPR':'장부가격',
#'YY_EFEE_R':'년환가료율',
#'TEN_DD_EFEE_R':'10일환가료율',
#'KFTC_DEAL_BAS_R':'서울외국환중개 매매기준율',
#'KFTC_BKPR':'서울외국환중개 장부가격'

In [41]:
exchange.columns

Index(['result', 'cur_unit', 'ttb', 'tts', 'deal_bas_r', 'bkpr', 'yy_efee_r',
       'ten_dd_efee_r', 'kftc_bkpr', 'kftc_deal_bas_r', 'cur_nm'],
      dtype='object')

ValueError: Expected object or value

In [22]:
column_dict = {'CUR_UNIT':'통화코드',
                'CUR_NM':'국가/통화명',
                'TTB':'전신환(송금)받으실때',
                'TTS':'전신환(송금)보내실때',
                'DEAL_BAS_R':'매매 기준율',
                'BKPR':'장부가격',
                'YY_EFEE_R':'년환가료율',
                'TEN_DD_EFEE_R':'10일환가료율',
                'KFTC_DEAL_BAS_R':'서울외국환중개 매매기준율',
                'KFTC_BKPR':'서울외국환중개 장부가격'}

exchange = exchange(columns=column_dict)
exchange

TypeError: 'DataFrame' object is not callable